* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh; /* Высота на весь экран */
    background-color: #f0f0f0; /* Цвет фона */
    font-family: Arial, sans-serif; /* Шрифт */
}

h1, h2, p {
    text-align: center; /* Центрируем текст внутри заголовков и параграфов */
}

header, main, footer {
    background-color: white; /* Цвет фона для блоков контента */
    padding: 20px; /* Отступы внутри блоков */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); /* Тень для блоков */
}